/* use :has() */
/* [data-google-query-id] {
  display: none !important;
} */

.sidebar [_ngcontent-flo-app-c128], [sidebar-ad-sticky], div:has(> div[sidebar-ad]), div:has(> flo-lazy[leaderboard-large]) {
  display: none !important;
}

flo-header-layout [_ngcontent-flo-app-c128]:has(flo-lazy iframe) {
  display: none !important;
}

div[sidebar] {
  position: sticky !important;
  top: 80px;
}