/* turn off infinite scroll past 20 */
/* the first div is for you to post and n can be 0, so subtract 2 from num to get max # pannels. */
#mainContent > div > div:nth-child(n + 22) {
    display: none !important;
    color: red !important;
    background-color: yellow !important;
}

/* remove sponsored content */
#mainContent > div > div:has([data-nosnippet]) {
    display: none !important;
}