/* DE-FANGER */
/*** Makes it less addictive by reducing the number of thumbnails throughout the site. ***/

/* REDUCE ADS AND THUMBNAILS, reconfigure main content */
ytd-rich-grid-row:nth-child(n+15), #secondary { /* Thumbnails on main page and sidebar */
  display: none !important;
}
#columns > #primary, #columns > #primary > #primary-inner { /* Sets width of comments section */
  min-width: 850px !important; 
  max-width: 850px !important;
  width: 850px !important;
}
.ytp-ad-image-overlay {
  display: none !important;
}
.html5-endscreen { /* end-screen? */
  display: none !important;
}
.ytp-autonav-endscreen-countdown-container { /* endscreen next video suggestion you can't cancel. Note: this will only disable the visual count-down, but not the actual countdown. My JS redirects the page before the countdown can go through. */
  display: none !important;
}
.ytp-ce-element.ytp-ce-video[data-layer='4'] { /* endscreen popup thumbnails */
  display: none !important;
}
#logo { /* Youtube logo */
  display: none !important;
} 
#items > *:nth-child(1) { /* Home */
  display: none !important;
}

/*** TIME DISPLAY ***/
.henry_time {
  position: fixed;
  top: 65px; right: 20px; /* top: 60px; right: 100px !important; */ /*  */
  z-index: 2147483647;
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  line-height: 20px;
  text-align: center;
  background: linear-gradient(to left top, #a87bf2, #92f6ec); /* #92f6ec, #a87bf2 */ /* #e66465, #9198e5 */
  padding: 3px 8px 2px 8px; /* bottom padding be whilin */
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
}
.henry_time:hover {
  cursor: pointer;
}
.henry_time:active {
  color: #2c2c2c;
  /* filter: invert(30%); */
}

/*** KEYBOARD TRACKER ***/
/* making rook for time display by moving keyboard tracker lower */
.keypress_tracker {
  top: 95px; /* 65 */
  box-shadow: none; /* 0px 0px 5px rgb(195, 195, 195) */
  border-radius: 5px;
}

/*** NOT THAT IMPORTANT ***/
.style-scope.ytd-rich-grid-renderer#contents:first-child { /* first row always seems to fuck up rendering, so just take out */
  display: none !important;
}
ytd-rich-section-renderer:nth-child(1) { /* "Shorts" -- the second tag of this kind is News, so don't delete that */
  display: none !important;
}
ytd-rich-shelf-renderer { /* horizontal line at top */
  border: none !important;
}